<fieldset class="fieldset2">
  <legend><span style="isMemberSuccess"> Customer Info: </span></legend>
  <div ng-style="isMemberSuccess">
    <div>
      <label class="memberTH">Member ID:</label>
      <span data-ng-model="MemberId">{{member.id}}</span>
    </div>
    <div>
      <label class="memberTH">Name: </label>
      <span>{{member.fullName}}</span>
    </div>
    <div>
      <label class="memberTH">Zip Code: </label>
      <span>{{member.zipCode}}</span>
    </div>
  </div>
</fieldset>
<!-- {{member | json}} -->
