.todos li:hover {
  color: #607D8B;
  background-color: rgb(162, 180, 152);
  left: .1em;
}
.selected {
  background-color: rgb(93, 176, 211) !important;
  color: white;
}
.todos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.editTodo {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  background-color: chartreuse
}

.todos .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: rgb(27, 146, 206);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.todos .text {
  position: relative;
  top: -3px;
}
.todos li.selected:hover {
  background-color: rgb(15, 195, 219) !important;
  color: white;
}

.todos li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgb(141, 212, 94);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
