<div id="summary" class="section panel panel-primary">
  <div class="panel-heading"> Employee Summary</div>
  <div class="container">
    <!--{{employeeList | json}}-->
    <br> Find Employee by Name: <input type="text" [(ngModel)]='findEmployee.name' />
  <button class="btn btn-sm btn-primary ml-1" (click)="employeeSeach()">Search</button>
    <table class="table table-striped  table-hover table-sm small table-bordered" *ngIf="true">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Salary</th>
          <th>DepartmentId</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th> </th>
          <th>
            <input id="newName" [(ngModel)]='newEmployee.name' type="text" placeholder="newName" />
          </th>
          <th>
            <input type="text" [(ngModel)]='newEmployee.gender' placeholder="newGender" />
            <th>
              <input type="text" [(ngModel)]='newEmployee.salary' placeholder="newSalary" />
            </th>
            <th>
              <input type="text" [(ngModel)]='newEmployee.departmentId' placeholder="newdepartmentId" />
            </th>
            <th>
              <button class="btn btn-sm btn-primary" (click)="addEmployee(newEmployee)">Add </button>
            </th>
            <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of employeeList" >
        <tr>
          <td>{{item.id}} </td>
          <td><input type="text" [(ngModel)]='item.name' /></td>
          <td><input type="text" [(ngModel)]="item.gender" /></td>
          <td><input type="text" [(ngModel)]="item.salary" /> </td>
          <td><input type="text" [(ngModel)]="item.departmentId" /> </td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="updateEmployee(item)">Update</button>
          </td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="deleteEmployee(item)">Remove</button>
        </tr>
      </tbody>
    </table>

  </div>
  <br> Find Employee Id: <input type="text" [(ngModel)]='findEmployee.id' />
  <button class="btn btn-sm btn-primary ml-1" (click)="findEmployeeById()">Search</button>
  <br> {{findEmployee | json}}
  <hr>
  <br> Find Employee Id: <input type="text" [(ngModel)]='findEmployee.id' />
  <button class="btn btn-sm btn-primary ml-1" (click)="getEmployeeById()">  Search</button>
  <br> 404 if not find
  <br> {{findEmployee | json}}
  <hr>
</div>
