<fieldset>
  <legend><span style="font-weight: bold">Payment Info: </span></legend>
  <div ng-style="isMemberSuccess">
    <div>
      <div>
        <label class="paymentTH">Payment Type:</label>
        <select (change)="OnPaymentTypeChange($event.target)">
          <option *ngFor="let paymentType of paymentTypeList">{{paymentType.text}}</option>
        </select>
      </div>
      <div>
        <label class="paymentTH">Credit Card Number</label><br />
        <input type="text" [(ngModel)]="payment.creditCardNumber" placeholder1="Enter Credit Card Number" numbers-only
          required class="number-input" size="16" maxsize="16" value="4111111111111111">
      </div>
      <div class="" style="float: left; margin-left: 120px; width: 80px;">
        <label class="paymentTH">Expiry Date</label><br />
        <input type="text" id="expiryDate" name="expiryDate" [(ngModel)]="payment.expirationDate"
          numbers-only required class="number-input" size="10" maxsize="10" value="01/12/2020">
      </div>
      <div class="ml-5" style="float: left; margin-left: 10px; width: 100px;">
        <label class="paymentTH">Security code</label><br />
        <input type="text" id="creditCardNumber" name="creditCardNumber" [(ngModel)]="payment.cvv" placeholder="Enter Credit Card Number"
          numbers-only required class="number-input" size="4" maxsize="4" value="911">
      </div>
    </div>
    <br /><br />
    <div class="ml-1">
      <br />
      <label class="paymentTH">Payment Amount:</label>
      <br />
      $<input type="text" id="paymentAmount" name="paymentAmount" size="5" [(ngModel)]="uiProduct.price" readonly="readonly"
        value="100">
      <br />
      <br /><button class="btn btn-success btn-sm" (click)="handleMakePaymentClick(uiMember, uiProduct)" type="submit">
        Process Payment
      </button>
    </div>
    <br />
    <label>{{paymentMessage}}</label>
  </div>
</fieldset>
<!-- {{payment | json}} -->
